@import "nav.css";
@import "reset.css";

/* css imports for the nav bar and the reset */

/* variable colors set */
:root {
  --color-purple-light: #AC75DC;
  --color-purple-dark: #4F3271;
  --color-green-light: #75B79F;
  --color-green-dark: #4d665d;
  --color-menu-purple: #4c3051;
  --color-text-white: white;
  --color-black: black;
  --color-charcoal: #333;
}

/* css normalization */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* initiate smooths scroll for the site */
html {
  scroll-behavior: smooth;
}

/* introduce the font family to the site */
body {
  font-family: 'Roboto', sans-serif;
}

/* Intro animation pulling curtain upwards done with the help of divs */
.page-cover,
.curtain,
.page-cover::before,
.page-cover::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
}

.curtain {
  height: 100vh;
  background-color: var(--color-green-dark);
  animation: raiseCurtain 0.75s 0.30s ease-in-out forwards;
  transform-origin: top;

}

/* curtains is raised at three different intervals using delay to provde intended effect */
.page-cover::before {
  content: "";
  height: 100vh;
  background-color: var(--color-purple-light);
  animation: raiseCurtain 0.75s 0.40s ease-in-out forwards;
  transform-origin: top;
}

.page-cover::after {
  content: "";
  height: 100vh;
  background-color: var(--color-purple-dark);
  animation: raiseCurtain 0.75s 0.10s ease-in-out forwards;
  transform-origin: top;
}

.curtain:nth-of-type(2) {
  background-color: var(--color-green-light);
  animation: raiseCurtain 0.75s 0.20s ease-in-out forwards;
  transform-origin: top;
}

/* animation for raising the curtain by changing scale in the Y direction */
@keyframes raiseCurtain {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

/* skip link placed at the top of the site for accessibility hidden by deafult */
.skip-link {
  background-color: var(--color-purple-dark);
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip-link a {
  color: var(--color-text-white);
  text-decoration: none;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* hero image placed in the back using position absolute and approriate z-index */
.hero img {
  position: absolute;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.hero-image {
  width: 100%;
}

/* grid used for the content within hero banner */
.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.hero-text {
  background-color: var(--color-green-light);
  position: relative;
  width: 70%;
  padding: 2rem 2rem;
  align-self: flex-start;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.hero-text p {
  color: var(--color-text-white);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.hero-text h2 {
  color: var(--color-text-white);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: var(--color-charcoal);
  border-radius: 1rem;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-top: 1rem;
  background-color: var(--color-text-white);
}

.hero-text a span {
  position: relative;
  z-index: 2;
}

/* after pseudo class for the button animation */
.hero-text a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--color-green-dark);
  transition: all .35s;
  border-radius: 1rem;
}

.hero-text a:hover {
  color: var(--color-text-white);
}

.hero-text a:hover:after {
  width: 100%;
}

/* carousel done using a container holding 3 divs */
.carousel {
  width: min(100% - 1rem, 400px);
  aspect-ratio: 4/5;
  background-color: var(--color-charcoal);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.carousel .track {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;

  display: flex;
  flex-direction: row;

}

.image-carousel {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* div is targetted with nth of type and given translate animations specifically designed to stop at 0%,50%,100% */
.carousel .track:nth-of-type(1) {
  animation: slideIn 5s 1.5s ease-in-out infinite;
  animation-direction: alternate;
  animation-fill-mode: backwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-66.6666%);

  }

  50% {
    transform: translateX(-33.3333%);

  }

  100% {
    transform: translateX(0);

  }
}

.track .image-container {
  flex: 1;

}

/* section is done with grid */
#best-sellers {
  background-color: var(--color-menu-purple);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 5rem;

}

.gallery img {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}

/* drop-shadow used for glow effect on hover */
.gallery img:hover {
  filter: drop-shadow(0 0 0.75rem var(--color-purple-light));
}

#best-sellers h1 {
  padding: 6rem 5rem 2rem 5rem;
  color: var(--color-green-light);
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.galleryimage {
  padding-bottom: 2rem;
}

.galleryimage h3 {
  color: var(--color-text-white);
  text-align: center;
  padding-top: 1rem;
  font-weight: bold;
}

.galleryimage p {
  color: var(--color-text-white);
  text-align: center;
  padding-top: 1rem;
}

.galleryimage a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: var(--color-charcoal);
  border-radius: 1rem;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  margin-top: 1rem;
  background-color: var(--color-text-white);
}

/* category section made using grid */
#category-section {
  color: var(--color-purple-dark);
}

#category-section h1 {
  background-color: var(--color-green-light);
  padding: 2rem 0 1rem 9rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;

}

.category-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 1rem 8rem 4rem 9rem;
  background-color: var(--color-green-light);
}

.category-div .categoryimage {
  aspect-ratio: 2/3;
  width: 90%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.8s ease-in-out;
}

/* grow animation set for entire div on hover state */
.category-div .categoryimage:hover {
  transform: scale(1.1);
  transition: 0.8s ease-in-out;
}


.category-div .categoryimage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.category-div .categoryimage h2 {
  color: var(--color-purple-dark);
  padding-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}


/* collage done using grid using 12 columns */
.deals {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 4rem 0 10rem 0;
  background-color: var(--color-black);
}

/* card given higher z-index to remain on top and span a certain length */
.deals .card {
  grid-column: 3/7;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  background-color: var(--color-purple-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  grid-row-start: 1;
  align-self: start;
  z-index: 1;
  position: relative;
  transform: translateY(20%);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.deals .card span {
  font-weight: bold;
  color: var(--color-text-white);
  padding-bottom: 0.5rem;
}

.deals .card p {
  color: var(--color-text-white);
  font-weight: bold;
}

.deals .card p span {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  color: var(--color-text-white);
}

/* collage images are also done by spanning grids between each other */
/* translate is used to make minute movements to each div to maximize accuracy */
.collage-1 {
  aspect-ratio: 3/4;
  grid-column: 4/7;
  grid-row-start: 1;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.collage-2 {
  aspect-ratio: 3/4;
  grid-column: 7/10;
  grid-row-start: 1;
  border-radius: 1rem;
  transform: translateY(20%) translateX(-5%);
  transition: all 0.5s ease-in-out;
}

.collage-3 {
  aspect-ratio: 3/4;
  grid-column: 9/12;
  grid-row-start: 1;
  border-radius: 1rem;
  z-index: 1;
  transform: translateY(10%) translateX(5%);
  transition: all 0.5s ease-in-out;
}

/* dark filter on hover */
.collage-1:hover,
.collage-2:hover,
.collage-3:hover {
  filter: brightness(50%);
}

.deals img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Style for the white button */
button {
  background-color: var(--color-text-white);
  color: var(--color-charcoal);
  padding: 10px 20px;
  border-radius: 1rem;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Hover animation for the white button */
button:hover {
  background-color: var(--color-menu-purple);
  color: var(--color-text-white);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* banner made using background image property and given fixed to create a parallax sort of effect */
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bakery_banner.jpg);
  padding: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-white);
}

.banner-text h1 {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.banner-text p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

/* same as best-sellers so only target the section and change background color */
#trending-products {
  background-color: var(--color-black);
}

#trending-products h1 {
  padding: 6rem 5rem 2rem 5rem;
  color: var(--color-text-white);
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
}

/* styling for the back to top button */
.top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 2px solid var(--color-purple-light);
  border-radius: 10%;
  padding: 0.1rem 0.2rem;

}

.top-button span {
  font-size: 2rem;
  color: var(--color-purple-light);
}

.top-button:hover span {
  font-size: 2rem;
  color: var(--color-purple-dark);

}

.top-button:hover {
  background-color: var(--color-purple-light);
}

/* footer done with flex*/
.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: var(--color-black);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 1rem;
  padding-top: 4rem;
}

.footer-col h4 {
  font-size: 18px;
  color: var(--color-text-white);
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--color-purple-light);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 300;
  color: var(--color-text-white);
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: var(--color-text-white);
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--color-text-white);
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--color-text-white);
}

/* ------------------MOBILE CSS---------------------- */
/* breakpoint set at 768 */
@media only screen and (max-width: 768px) {

  /* navbar changed to make hamburger menu */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    background-color: var(--color-purple-dark);
    color: var(--color-text-white);
  }

  .menu {
    display: none;
    position: absolute;
    background-color: var(--color-purple-dark);
    right: 0;
    left: 0;
    top: 4.3rem;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;

  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }

  .hero-container {
    background-image: url(../images/hero-banner-mobile.png);
    padding: 2rem;
  }

  .hero-text {
    width: fit-content;
    left: 0;
    margin: 0 1rem;
  }

  /* grid to 1fr to make it vertical */
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 5rem;

  }

  /* grid to 1fr to make it vertical */
  .hero-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  /* remove collage images in mobile to improve readability */
  .collage-1,
  .collage-2,
  .collage-3 {
    display: none;
  }

  /* change position of card to fit */
  .deals .card {
    grid-column: 2/11;
    padding: 2rem 1rem 2rem 1rem;
    justify-content: space-evenly;
    align-self: start;
    transform: translateY(0) translateX(10px);
  }

  .deals {
    grid-template-columns: repeat(12, 1fr);
    padding: 4rem 0 4rem 0;
    background-color: var(--color-black);

  }

  /* grid to 1fr to make it vertical */
  .category-div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 4rem 4rem 6rem;
  }

  #category-section h1 {
    background-color: var(--color-green-light);
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-purple-dark);
  }

  /* footer made vertical */
  .footer {
    padding: 0;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }


  .footer-col {
    width: 100%;
  }

  #trending-products h1,
  #best-sellers h1 {
    text-align: center;
  }

  #trending-products h1 {
    margin: auto;
    padding: 1rem 0 0 0;
  }
}